<p>
    open console to see connection.
</p>

<script>
    var ws = new WebSocket('ws://localhost:40510');

    ws.onopen = function () {
        console.log('websocket is connected ...')
        ws.send('connected')
    }

    ws.onmessage = function (ev) {
        var object = JSON.parse(ev.data);
        console.log(ev);
        console.log(object);
        console.log("----------------");
        const diff = new Date() - new Date(object.date);
        const ack = {
            id : object.id,
            processingTime : diff
        }
        ws.send(JSON.stringify(ack));
    }
</script>